@media only screen and (max-width: 1920px) {
    /*nav area*/
    .logo {
        margin: 0 0 0 280px;
    }
    .cart-area {
        margin: 0 300px 0 0;
    }
    .second-product-area {
        margin: 100px 0 0 0;
    }
    .second-product-grid {
        margin: auto;
        max-width: 1200px;
    }
    .third-product-area {
        margin: 100px 0 0 0;
    }
    .screach {
        display: flex;
        width: -webkit-fill-available;
        margin: auto;
    }
    /*post area*/
    .post-head h2 {
        margin: 30px 0 20px 350px;
    }
    /*about area*/
    .about-area {
        margin: 150px 0 0 250px;
    }
    .about-head {
        margin: 100px 0 0 20px;
    }
    /*shop area*/
    .shop {
        margin: 0 0 0 100px;
        gap: 90px;
    }
    .shop-head-info {
        margin: 0 0 0px -120px;
    }
    .shop-product {
        gap: 10px;
        margin: 0 0 0 200px;
        width: 1000px;
    }
    .archives {
        margin: 0 -70px;
    }
    .categories {
        margin: 0 -70px;
    }
    .meta {
        position: relative;
        right: 65px;
    }
    .foot-info-1 {
        margin: auto;
    }
    .foot-info-3 {
        margin: auto;
    }
    .foot-area {
        padding: 50px 0 100px 0;
    }
    .search-main {
        display: flex;
    }
}

@media only screen and (max-width: 1366px) {
    /*home page*/
    .nav-top {
        justify-content: space-around;
    }
    .nav-list {
        margin: inherit;
    }
    .top-contact {
        margin: inherit;
    }
    .logo,
    .cart-area {
        margin: auto;
    }
    .screach {
        margin: auto;
    }
    .category-area .fa-magnifying-glass {
        padding: 23px;
        margin-top: 5px;
    }
    /*.category-area {
        margin: 0;
        width: -webkit-fill-available;
    }*/
    .scat {
        display: none;
    }
    .product-head h2 {
        position: relative;
        left: -120px;
    }
    .product-head button {
        position: relative;
        right: -120px;
    }
    .head-info p {
        width: -webkit-fill-available;
    }
    .head-info h2 {
        width: -webkit-fill-available;
    }
    .products {
        width: -webkit-fill-available;
        margin: 0 100px;
        gap: 20px;
    }
    .head-section {
        gap: 20px;
    }
    .banner {
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        padding: 0 0 150px 0;
    }
    .input-area {
        display: contents;
    }
    .post-products {
        width: -webkit-fill-available;
        flex-flow: wrap;
    }
    /*about page*/
    .about-adds {
        width: 350px;
        padding: 15px;
    }
    .about-area {
        position: relative;
        left: -180px;
    }
    .about-area .about-head {
        position: relative;
        left: -10px;
    }
    .about-info {
        width: 800px;
    }
    .banner-info {
        margin: 0 100px;
        width: -webkit-fill-available;
    }
    /*shop page*/
    .shop {
        margin: 0;
    }
    .shop-product {
        margin: 0 0 0 30px;
        width: 900px;
    }
    .shop-head-info {
        position: relative;
        left: -100px;
    }
    /*contact page*/
    .contact-info {
        width: 750px;
    }
    .con-info {
        position: relative;
        left: 20px;
    }
    .con-message {
        position: relative;
        right: -50px;
    }
    footer {
        margin-bottom: -10px;
    }
    /*post area*/
    .post-img-2,
    .post-img-3 {
        width: inherit;
    }
}

@media only screen and (max-width: 912px) {
    /*home page*/
    .nav-link {
        display: none;
    }
    .responsive-nav {
        position: absolute;
        width: 800px;
        height: 400px;
        background-color: var(--white);
        top: 120px;
        z-index: 11;
        margin: 20px 0 0 20px;
        overflow: hidden;
        padding: 10px;
    }
    .responsive-nav hr {
        display: block;
        width: 850px;
        margin: 0 0 0 -40px;
        padding: 10px;
    }
    .nav-link a:hover {
        text-decoration: none;
    }
    .close {
        font-size: 35px;
    }
    .nav-link li {
        padding: 10px;
    }
    .menu-bars {
        display: block;
    }
    .menu-bars i {
        font-size: 50px;
    }
    .logo {
        margin: inherit;
    }
    .cart-area {
        margin: inherit;
        padding-right: 30px;
    }
    /*search area*/
    .search-area {
        height: auto;
        display: block;
        padding: 20px;
        margin: auto;
        width: auto;
    }
    .se-text {
        width: -webkit-fill-available;
    }
    .category-area {
        margin: auto;
        margin-top: auto;
    }
    .scat {
        width: fit-content;
    }
    .search-main {
        width: auto;
        margin: 20px;
        display: block;
    }
    .dropdown input {
        padding: auto;
        width: 830px;
        margin: auto;
        width: -webkit-fill-available;
        margin-right: 50px;
    }
    .dropdown h3 {
        margin: 0 0 0 90px;
        padding: 20px 0 0 0;
    }
    .cat-links {
        margin-top: -110px;
    }
    .search-area .fa-paper-plane {
        position: absolute;
        margin-top: 22px;
        left: 230px;
    }
    .category-area .fa-magnifying-glass {
        width: 100px;
        margin: auto;
    }
    .search-area .fa-chevron-down {
        position: absolute;
        margin-top: 20px;
        right: 110px;
    }
    .search-area .screach {
        margin-top: 20px;
    }
    .cat-links {
        position: absolute;
        z-index: 1;
    }
    .head-section {
        margin: 10px;
    }
    .nav-list {
        margin: auto;
    }
    .top-contact {
        margin: auto;
        margin-top: -6px;
    }
    .screach {
        display: flex;
    }
    /*product area*/
    .products {
        width: auto;
    }
    .product-head {
        width: 100px;
        margin: auto;
    }
    /*bonner area*/
    .bonner {
        width: 950px;
    }
    .banner-info {
        margin: 10px;
        width: 880px;
    }
    /*advertisement area*/
    .advert-area {
        width: 800px;
    }
    .add-info {
        width: 350px;
    }
    .add-info p {
        width: 350px;
    }
    .add-img {
        width: 350px;
    }
    .add-img img {
        width: 320px;
        margin: 40px 0 0 13px;
    }
    /*post area*/
    .post-products {
        width: 800px;
    }
    .post-info-2 h3 {
        font-size: 13px;
    }
    .post-head h2 {
        margin: 50px 0 20px 55px;
    }
    .post-img-2 {
        width: auto;
    }
    .post-img-3 {
        width: auto;
    }
    .post-products {
        justify-content: center;
        width: auto;
    }
    /*footer area*/
    .foot-info-1 {
        width: 250px;
    }
    .foot-info-1 {
        width: 250px;
    }
    .foot-info-1 p {
        width: 250px;
    }
    .foot-info-1 button {
        margin-top: 20px;
    }
    .foot-info-3 {
        width: 250px;
    }
    .foot-info-3 p {
        width: 250px;
    }
    /*about page*/
    .about {
        display: block;
        margin: 0 0 -200px -20px;
    }
    .about-adds {
        margin: auto;
        width: 780px;
        height: 1200px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .about-add-info img {
        width: 250px;
    }
    .about-search {
        margin: 50px 0 20px 0;
        width: 790px;
    }
    .abt-search {
        width: 620px;
    }
    .about-search.about-sh-bar {
        margin: auto;
        margin-top: 200px;
    }
    .about-adds.about-2 {
        margin-bottom: 250px;
    }
    /*shop page*/
    .shop {
        display: block;
    }
    .shop-head-info {
        position: relative;
        left: 0px;
    }
    .shop-head-info {
        float: left;
        margin-left: -250px;
    }
    .dropdown-btn {
        margin: initial;
        float: left;
        margin-right: -180px;
    }
    .shop-product {
        margin: 0 0 0 10px;
        width: auto;
    }
    .archives {
        width: 350px;
        height: 60px;
        background-color: var(--white);
        position: static;
        bottom: 50px;
    }
    .shop-sidebar {
        width: 800px;
        margin: auto;
        padding-left: 80px;
    }
    .archives {
        margin: 50px 0 10px -50px;
        width: 100%;
    }
    .categories {
        margin: 50px 0 10px -50px;
        width: 100%;
    }
    .meta {
        margin: 50px 0 10px 10px;
        width: 100%;
    }
    .order-area {
        display: block;
    }
    /*order area*/
    .about-search {
        margin: auto;
        margin-bottom: 50px;
        margin-top: 100px;
    }
    .login-chart {
        margin-bottom: -380px;
    }
    /*contact area*/
    .contact-page {
        display: block;
    }
    .contact-info {
        margin: 0 30px;
    }
    .con-head h3 {
        margin: 0 0 20px -220px;
    }
    .contact-side-bar {
        position: relative;
        top: 200px;
        margin: 0 0 250px 0;
    }
    .about-search {
        position: relative;
        bottom: 100px;
        margin: 720px 0 0 50px;
    }
    .about-adds {
        margin-top: -50px;
    }
    /*contact*/
    .abt-search {
        width: auto;
    }
    .about-search {
        position: absolute;
        top: -100px;
        width: auto;
    }
}

@media only screen and (max-width: 760px) {
    .nav-top {
        height: auto;
        display: block;
    }
    .top-contact {
        justify-content: center;
    }
    .nav-list {
        margin: auto;
        justify-content: center;
    }
    .search-area {
        justify-content: center;
    }
    .search-responsive {
        width: 750px;
        justify-content: center;
        padding: 0;
    }
    .head-section {
        display: block;
    }
    .slide-area {
        margin: 50px 0 0 0;
    }
    .head-info {
        margin: auto;
        width: auto;
    }
    .setext {
        width: -webkit-fill-available;
        margin: auto;
        margin-right: 50px;
        margin-top: 20px;
    }
    .scat {
        margin: auto;
        margin-right: 50px;
        margin-top: 20px;
    }
    /*.fa-magnifying-glass {
        position: relative;
        top: -62px;
        right: -310px;
        width: auto;
    }*/
    .products {
        margin: auto;
    }
    .banner-info {
        width: auto;
    }
    .banner-info p {
        width: auto;
    }
    .advert-area {
        display: contents;
    }
    .add-info {
        margin: auto;
        width: fit-content;
        margin-bottom: 50px;
    }
    .add-img {
        margin: auto;
        width: fit-content;
        padding: 50px;
    }
    .add-img img {
        width: auto;
    }
    .foot-area {
        display: block;
    }
    .foot-info-2 {
        text-align: center;
        margin: 100px 0 0 0;
    }
    .foot-info-3 {
        text-align: center;
        margin: auto;
        margin-top: 100px;
        width: auto;
    }
    .foot-info-3 p {
        width: auto;
    }
    .foot-area p {
        margin: auto;
    }
    .about-adds {
        width: 600px;
        height: auto;
    }
    .about-search.about-sh-bar {
        width: 600px;
    }
    .abt-search {
        width: 420px;
    }
    .about {
        width: fit-content;
    }
    .about-info {
        width: 650px;
        margin: auto;
    }
    /*contact*/
    .contact-info {
        display: block;
        width: -webkit-fill-available;
    }
    .con-info {
        width: fit-content;
        margin: auto;
        margin-bottom: 100px;
    }
    .con-form {
        width: auto;
        margin: 20px;
        border: 1px solid #bbb;
    }
    .con-form #con-input {
        width: -webkit-fill-available;
    }
    .con-form #con-mas {
        width: -webkit-fill-available;
    }
    .about-search {
        position: absolute;
        top: 80px;
        width: auto;
    }
    .abt-search {
        width: auto;
    }
}

@media only screen and (max-width: 499px) {
    .top-contact {
        flex-wrap: wrap;
    }
    .p-list-1 {
        margin: auto;
    }
    .nav-link {
        width: 300px;
        margin-top: 80px;
    }
    .cat-links {
        width: -webkit-fill-available;
    }
    .dropdown input {
        margin: auto;
        width: -webkit-fill-available;
    }
    .dropdown h3 {
        font-size: 13px;
        margin: 0 0 0 30px;
    }
    .se-text {
        margin: auto;
        width: -webkit-fill-available;
    }
    .category-area .fa-magnifying-glass {
        padding: 23px;
        width: 30px;
    }
    .search-area .fa-chevron-down {
        right: 50px;
    }
    .search-area .fa-paper-plane {
        left: 210px;
    }
    .product-head {
        width: fit-content;
        justify-content: center;
    }
    .product-head h2 {
        margin-left: 130px;
        font-size: 13px;
        width: 200px;
        justify-content: center;
    }
    .product-head button {
        position: relative;
        margin-right: 150px;
        margin-bottom: 20px;
        width: 300px;
        float: left;
    }
    .add-info {
        margin: auto;
        width: auto;
        border-bottom: none;
    }
    .add-info h2 {
        font-size: 25px;
    }
    .add-info p {
        font-size: 15px;
    }
    .add-img {
        width: auto;
        border-top: none;
    }
    .add-img img {
        margin: auto;
        width: -webkit-fill-available;
    }
    .about-section {
        width: auto;
        padding: 10px;
        margin: auto;
    }
    .about {
        width: auto;
    }
    .about-info {
        width: fit-content;
    }
    .about-adds.about-2 {
        width: fit-content;
        margin: auto;
        margin-bottom: 120px;
    }
    .abt-search {
        width: auto;
    }
    .about-search.about-sh-bar {
        width: max-content;
    }
    .shop-sidebar {
        width: auto;
    }
    .login-chart {
        width: auto;
        margin: 20px;
    }
    #username,
    #password {
        width: -webkit-fill-available;
    }
    .fa,
    .fa-brands,
    .fa-classic,
    .fa-regular,
    .fa-sharp,
    .fa-solid,
    .fab,
    .far,
    .fas {
        top: -25px;
    }
    .about-search {
        width: max-content;
        margin: 20px;
        margin-top: 200px;
    }
    .abt-search {
        width: 150px;
    }
    .about-adds {
        width: auto;
        margin: 20px;
    }
    .about-add-info h4 {
        text-align: center;
    }
    .about-add-info button {
        padding: 20px;
        margin: 10px;
        border-radius: 30px;
        background-color: #32373C;
        color: var(--white);
    }
    .con-info {
        width: fit-content;
        margin: auto;
        margin-bottom: 80px;
    }
    .contact-info {
        display: block;
        width: -webkit-fill-available;
    }
    .con-message #con-input {
        padding: 10px;
        width: 370px;
        margin: 0 0 30px 0;
        border: 1px solid rgba(225, 225, 225, .8);
    }
    .about-search {
        position: absolute;
        top: 600px;
        width: auto;
    }
    .about-search button {
        width: auto;
    }
    .con-info p {
        font-size: 15px;
    }
    .foot-area p {
        width: auto;
    }
    .about-add-info {
        text-align: center;
    }
}